*{

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		    box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.wrapper{
	width: 960px;
	margin: 0 auto;
}


/*Заголовок страницы
  *************************************************************/
.header{
	height: 50px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}
.logo{
	display: inline-block;
	margin-left: 20px;
	margin-top: 4px;
}
.logo a{
	display: inline-block;
	padding: 5px;
}
.small-info{
	font-size: .95em;
	font-weight: bold;
	display: inline-block;
	margin-left: 400px;
	margin-top: 15px;
	vertical-align: top;
}
.weather, .bucks, .euro{
	display: inline-block;
	color: rgb(237,48,60);
	padding-left: 10px;
}
.city{
	font-weight: normal;
}
.small-info strong{
	color: black;
}

/*  <!-- Навигация
  ************************************************************ -->*/



 .nav{
 	text-align: left;
 }

 .nav-list{
 	list-style: none;
 }
 .nav-li{
 	/*position: relative;*/
 	display: inline-block;
 }
 .nav a{
 	color: rgb(22, 22, 22);
 	font-weight: normal;
 	text-decoration: none;
 	width: 100%;
 	height: 100%;
 	padding: 5px 15px;
 	transition: color .5s ease-out, border-bottom .1s linear;
 }

 .nav a:hover{
	border-bottom: 2px solid rgb(237,48,60);
	color: rgb(237,48,60);
 }


/*  <!-- Слайдер с изображениями
  ************************************************************ -->*/
.ideal-image-slider {
	position: relative;
	overflow: hidden;
}

.iis-slide {
	display: block;
	bottom: 0;
	text-decoration: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	text-indent: -9999px;
}

/* Slide effect */
.iis-effect-slide .iis-slide {
	opacity: 0;
	-webkit-transition-property: -webkit-transform;
       -moz-transition-property: -moz-transform;
    	 -o-transition-property: -o-transform;
    		transition-property: transform;
	-webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
    	 -o-transition-timing-function: ease-out;
    		transition-timing-function: ease-out;
	-webkit-transform: translateX(0%);
		-ms-transform: translateX(0%);
			transform: translateX(0%);
}

.iis-effect-slide .iis-current-slide {
	opacity: 1;
	z-index: 1;
}

.iis-effect-slide .iis-previous-slide {
	-webkit-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
    		transform: translateX(-100%);
}

.iis-effect-slide .iis-next-slide {
	-webkit-transform: translateX(100%);
		-ms-transform: translateX(100%);
			transform: translateX(100%);
}

.iis-effect-slide.iis-direction-next .iis-previous-slide,
.iis-effect-slide.iis-direction-previous .iis-next-slide { opacity: 1; }

/* Touch styles */
.iis-touch-enabled .iis-slide { z-index: 1; }
.iis-touch-enabled .iis-current-slide { z-index: 2; }
.iis-touch-enabled.iis-is-touching .iis-previous-slide,
.iis-touch-enabled.iis-is-touching .iis-next-slide { opacity: 1; }

/* Fade effect */
.iis-effect-fade .iis-slide {
	-webkit-transition-property: opacity;
	   -moz-transition-property: opacity;
		 -o-transition-property: opacity;
			transition-property: opacity;
	-webkit-transition-timing-function: ease-in;
	   -moz-transition-timing-function: ease-in;
		 -o-transition-timing-function: ease-in;
			transition-timing-function: ease-in;
	opacity: 0;
}

.iis-effect-fade .iis-current-slide {
	opacity: 1;
	z-index: 1;
}




/*    <!-- Маленькие новости
  ************************************************************ -->*/
.recent-news{
	text-align: center;
	height: 200px;
	vertical-align: text-top;
}
.sm-header{
	/*border-bottom: 2px solid rgba(150, 150, 150, .8);*/
	/*padding-bottom: 5px;*/
	margin: 10px 0;
}

.small-news{
	display: inline-block;
	width: 175px;
	height: 175px;
	/*background: rgb(153,178,183);*/
	margin: 20px 4px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
	padding: 5px;

}


/*    <!-- Статьи
  ************************************************************ -->*/
.articles{
	background: rgb(217,206,178);
	margin-top: 30px;
}
.article{
	width: 470px;
	min-height: 200px;
	background: gray;
	padding: 10px 30px;
	padding-bottom: 40px;
	position: relative;
	margin-bottom: 30px;

}
.article-description, .article-head{
	background: rgba(255, 255, 255, .8);
	padding: 5px;
}

.article-top .cell-L{
	background: url("../images/article-bg-1.jpg");
	background-size: cover;
}
.article-top .cell-R{
	background: url("../images/article-bg-2.jpg");
	background-size: cover;
}
.article-bottom .cell-L{
	background: url("../images/article-bg-3.jpg");
	background-size: cover;
}
.article-bottom .cell-R{
	background: url("../images/article-bg-4.jpg");
	background-size: cover;
}


.cell-L{
	float: left;
}
.cell-R{
	float: right;
}


.more{
	width: 200px;
	position: absolute;
	bottom: 0px;
	text-decoration: none;
	margin-bottom: 10px;
	margin-left: 100px;
	text-align: center;
	padding: 5px 0;
	color: black;
	background: rgba(255, 255, 255, .8);
	border: 1px solid black;
	border-radius: 20px;
}
.more:hover{
	color: rgba(255, 255, 255, .8);
	background: rgba(0, 0, 0, .8);
	border: 1px solid rgba(255, 255, 255, .8);
}

/*    <!-- бегущая строка
  ************************************************************ -->*/
.crawling{
	clear: both;
	background: rgba(1, 1, 1, .9);
	color: rgba(255, 255, 255, .8);
	padding: 10px;
	vertical-align: baseline;
	margin: 0 auto;

}
.crawling a{
	text-decoration: none;
	color: rgba(255, 255, 255, .8);
	padding: 10px;

}

.crawling a:hover{
	color: rgba(255, 255, 255, .8);
	background: rgb(237,48,60);
	padding: 10px;
}
.crawl-wrap{
	margin: 0 auto;
}



/*    <!-- Футер
  ************************************************************ -->*/
.footer{
	background: rgba(1, 1, 1, .9);
	padding-top: 15px;
}

.footer .wrapper{
	width: 660px;
	font-size: 90%;
}

.footer ul{
	color: rgba(255, 255, 255, .8);
}
.footer ul a{
	text-decoration: none;
	color: rgba(255, 255, 255, .8);
	transition: color .5s ease-out;
}
.footer ul a:hover{
	color: rgb(237,48,60);
}
.foot-col{
	width: 200px;
	min-height: 100px;
	margin-left: 10px;
	margin-right: 10px;
}

.foot-left{
	float: left;
}
.foot-mid{
	float: left;
}
.foot-right{
	float: right;
}


.very-bottom{
  	clear: both;
  	text-align: center;
  	font-size: 80%;
  	padding-bottom: 10px;
  	padding-top: 30px;
  	color: rgba(255, 255, 255, .8);
}