*,
*::before,
*::after {
    box-sizing: border-box;
}
@charset "UTF-8";* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased
}
@font-face {
    font-family: i8serif;
    src: url("fonts/GregorIT.eot");
    src: local("Gregor"),url("fonts/GregorIT.woff") format("woff"),url("fonts/GregorIT.ttf") format("truetype"),url("fonts/GregorIT.svg") format("svg");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: i8serif;
    src: url("fonts/Gregor.eot");
    src: local("Gregor"),url("fonts/Gregor.woff") format("woff"),url("fonts/Gregor.ttf") format("truetype"),url("fonts/Gregor.svg") format("svg");
    font-weight: 400;
    font-style: normal
}
html,
body {
    height: 100%;
}
body {
    font-family: 'i8serif', sans-serif;
    font-family: 'i8serif', sans-serif;
    font-size: 16px;
    line-height: 21px;
    margin: 0 0 14px;
    max-width: 42em;
    background-image: linear-gradient(to top, #839ef5, #d6d6e3);
    background-repeat: no-repeat;
    background-size: 100%;
}
body.drag-active {
    cursor: move;
    user-select: none;
}
/* 47-Cosmos: */
.cosmos {
    background-color: #797572;
    background-image: 
        linear-gradient(-173deg, rgba(255,255,255,0.20) 0%, #000000 100%),
        linear-gradient(72deg, rgba(255,255,255,0.25) 25%, rgba(0,0,0,0.25) 100%),
        radial-gradient(47% 102%, rgba(255,255,255,0.50) 0%, rgba(21,24,32,0.60) 120%);
    background-blend-mode: multiply;
}

.box-wrap {
    position: fixed;
    width: 200px;
    height: 200px;
    padding: 5px;
    background-color: rgba(255,255,255,.1);
    box-shadow: 0 0 4px rgba(0,0,0,.3);
    border: 1px solid rgba(0,0,0,.3);
}
.box {
    cursor: move;
    border: 1px solid rgba(0,0,0,.3);
    width: 100%;
    height: 100%;
}
.box-s,
.box-es,
.box-e {
    position: absolute;
}
.box-s {
    left: 0;
    width: 100%;
    height: 5px;
    cursor: row-resize;
}
.box-s {
    bottom: 0;
    background-color: green;
}

.box-e {
    top: 0;
    height: 100%;
    width: 5px;
    cursor: col-resize;
    right: 0;
    background-color: yellow;
}
.box-es {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 10px;
    width: 10px;
    cursor: se-resize;
    background-color: magenta;
}
