html, body{
	font-size: 1.1em;
}

.wrapper{
	margin-left: 200px;
}


/*****************************************/
/*      HEADER            */
/*****************************************/
header{
	background: black;
	color: white;
}

header h1{
	padding: 5px 0;
	margin: 0;
	color: #fff;
	letter-spacing: .1em;
}
header p{
	margin: 0;
	padding-bottom: 5px;
}

/*****************************************/
/*      LINKS            */
/*****************************************/

.main-menu, .main-menu a{
	color: #327CCB;
	line-height: 140%;
}

.main-menu a{
	text-decoration: none;
}
.main-menu a:hover{
	border-bottom: 2px solid #101F78;
	color: #101F78;
}
.main-menu a:visited{
	color: #a3b7cb;
}