.icon {
  display: block;
  width: 11rem;
  height: 11rem;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 10rem 10rem;
  background-position: center; }
  .icon-1 {
    background-image: url("../../images/compass.svg"); }
  .icon-2 {
    background-image: url("../../images/arrow.svg"); }
  .icon-3 {
    background-image: url("../../images/cart.svg"); }
  .icon-4 {
    background-image: url("../../images/map.svg"); }

img {
  max-width: 100%; }

.btn {
  display: inline-block;
  padding: 1em 2em;
  letter-spacing: 0.5px;
  text-decoration: none;
  background-color: #27adce;
  color: #fff;
  font-size: 2rem;
  border-radius: 2em;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4); }
  .btn:hover {
    color: #fff;
    background-color: #4bc0dd; }
  .btn:active {
    box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.4); }

header {
  height: 50px;
  padding-top: 1rem;
  text-align: center;
  border-bottom: 5px solid #3fcae1; }
  @media only screen and (min-width: 768px) {
    header {
      height: 70px; } }

.navigation {
  padding-left: none;
  list-style: none; }
  .navigation li {
    display: inline-block; }
  .navigation a {
    display: block;
    padding: 1rem;
    color: #333; }
    @media only screen and (min-width: 768px) {
      .navigation a {
        padding: 2rem 2.5rem; } }

.splash {
  height: 600px;
  color: #fff;
  background-image: url("../../images/mist.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: static; }
  .splash__text {
    padding-top: 25%;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4); }

.technology {
  padding-top: 6rem; }
  .technology h4 {
    text-align: center; }
  .technology h5 {
    color: #27adce;
    font-weight: 500; }
  @media only screen and (min-width: 768px) {
    .technology h4 {
      margin-bottom: 4rem; }
    .technology img {
      margin-top: 2em; } }

.online {
  padding: 5rem;
  color: #fff;
  background-image: url("../../images/Algoiris.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }
  .online .btn {
    font-size: 1.5rem;
    padding: 0.8em 1.8em; }

.experienced {
  padding: 5rem;
  color: #fff;
  background-color: #198ea1;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); }
  .experienced .btn {
    font-size: 1.5rem;
    padding: 0.8em 1.8em; }

.services {
  padding: 5rem; }
  .services h4 {
    text-align: center; }

.case {
  padding: 5rem; }

footer {
  background-color: #385c3e;
  color: #fff; }
  footer a {
    color: #fff; }
  footer .container {
    padding: 5rem; }
  footer input, footer textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding-left: 2rem;
    color: #000;
    background-color: transparent;
    border: 2px solid #d1d1d1; }
  footer input {
    height: 4rem;
    font-size: 1.5rem; }
  footer .btn {
    height: auto;
    padding: .8em;
    font-size: 1.5rem;
    border: none; }
