a {
  color: white;
}
a:hover {
  color: white;
}
/*-------------------

HEADER

--------------------*/

header {
  text-align: center;
  background: #000 url("../img/poster.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.social-link {
  display: inline-block;
  padding: .5em;
  background: #000;
  color: #fff;
}

.poster a {
  display: block;
  width: 90vw;
  margin: 1em auto;
}

.poster a:hover .logo-svg {
  fill: #df2546;
}


.nav-main {
  /*background: #d1d1d1;*/
  text-align: center;
}
.nav-main ul {
  list-style: none;
  margin: 0;
}
.nav-main li {
  display: inline-block;
  /*background: #888;*/
}
.nav-main a {
  position: relative;
  display: block;
  text-decoration: none;
  height: 3em;
  line-height: 3em;
  padding: 0 2em;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .5px;
}
@media only screen and (max-width: 600px) {
  .nav-main li{
    /*display: block;*/
    /*float: left;*/
    width: 30%;
    /*background: red;*/
  }
  .nav-main a {
    min-width: 100px;
    position: relative;
    display: block;
    text-decoration: none;
    height: 2em;
    line-height: 2em;
    padding: 0 1em;
    margin: .2em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .5px;
    background: rgba(255, 255, 255, 0.2);
  }
}
.nav-main a:hover {
  color: #fff;
  background: #000;
}
.nav-main a::before {
  
}





/*-------------------

NEWS

--------------------*/

.news-block {
  margin-top: 2em;
}

.news {
  /*background: #e1e1e1;*/
  /*border: 1px solid black;*/
  border-radius: 4px;
  /*padding: 10px;*/
  /*margin: 1px;*/
}
.news p {
  font-size: 90%;
}
.news h4 {
  text-align: center;
  margin-top: .5em;
}
@media only screen and (min-width: 990px) {
  .poster a {
    width: 50vw;
    margin: 1em auto 5em;
  }
  figure {
    /*float: left;*/
    widht: 250px;
    height: 150px;
  }
}

figure {
  display: block;
  margin: 0 auto;
  height: 150px;
  overflow: hidden;
}
img {
  max-height: 100%;
  display: block;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  img {
    max-width: 100%;
    /*max-height: 100%;*/
    /*display: block;*/
    /*margin: 0 auto;*/
  }
}
/*-------------------

PAGINATION

--------------------*/
.pagination {
  text-align: center;
}
.pg-item {
  display: inline-block;
  margin: .5em;
}
.pg-item a {
  text-transform: uppercase;
  display: block;
  padding: .5em 1em;
  background: #000;
}