body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.clearfix:after{
  content: "";
  display: table;
  clear: both;
}
ul {
  list-style: none;
}
.wrapper{
  max-width: 1170px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
  color: #ccc;
}
a:hover {
  color: #eee;
}
h5 {
  font-size: 17px;
  font-weight: 500;
  margin: 10px 5px 10px 0;

}
h4 {
  font-size: 18px;
  font-weight: 500;
  margin: 10px 5px 10px 0;
}
.hidden {
  display: none;
}
/*

888    888 8888888888        d8888 8888888b.  8888888888 8888888b.  
888    888 888              d88888 888  "Y88b 888        888   Y88b 
888    888 888             d88P888 888    888 888        888    888 
8888888888 8888888        d88P 888 888    888 8888888    888   d88P 
888    888 888           d88P  888 888    888 888        8888888P"  
888    888 888          d88P   888 888    888 888        888 T88b   
888    888 888         d8888888888 888  .d88P 888        888  T88b  
888    888 8888888888 d88P     888 8888888P"  8888888888 888   T88b 
*/
header {
  height: 50px;
  background: url("../img/bgd.png") #ddd;
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,.4)
}
.logo {
  float: left;
  padding: 10px;
  margin-left: 20px;
}

.search-field {
  position: absolute;
  left: 30%;
  top: 10px;
}
.search-field input {
  width: 300px;
  background: rgba(0,0,0,.2);
  border: none;
  padding: 5px;
  padding-left: 15px;
  color: white;
  border-radius: 2px;

}
.search-field input:focus {
  outline: none;
  background: rgba(0,0,0,.5);
}

header nav {
  float: right;
}
header nav li{
  display: inline-block;
  padding: 0px 15px; 
}
/*
888b     d888        d8888 8888888 888b    888 
8888b   d8888       d88888   888   8888b   888 
88888b.d88888      d88P888   888   88888b  888 
888Y88888P888     d88P 888   888   888Y88b 888 
888 Y888P 888    d88P  888   888   888 Y88b888 
888  Y8P  888   d88P   888   888   888  Y88888 
888   "   888  d8888888888   888   888   Y8888 
888       888 d88P     888 8888888 888    Y888                                                
*/
main {
  padding: 30px 0;
}
.content {
  width: 70%;
  float: left;
}


.main-image {
  padding: 30px;
  padding-top: 0;
}
.main-image img {
  width: 100%;
}
.tag-list {
  padding-left: 10px;
}
.tag-list li{
  display: inline-block;
}






/************
Table
*************/
table td {
  padding: 10px;
  min-width: 220px; 
}





/***********************************************

SIDEBAR

***********************************************/
.r-sidebar {
  padding-top: 20px;
}

.btn-down {
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: 1.3em;
  letter-spacing: .1em;
  text-align: center;
  background: #5cb85c;
  display: block;
  padding: 10px;
}
.btn-down:hover {
  color: white;
}

/***********
LICENSE
***********/
.license {
  padding: 20px 0 20px 30px;

}

/***********
NEWSLETTER
***********/
.newsletter {
  background: #eee;
  padding: 20px
}







.sponsored-img li {
  float: left;
  width: 46%;
  height: 100px;
  margin: 2%;
  outline: 1px solid #eee;
  overflow: hidden;
}



/*
 .d8888b. 8888888 8888888b.  8888888888 888888b.          d8888 8888888b.  
d88P  Y88b  888   888  "Y88b 888        888  "88b        d88888 888   Y88b 
Y88b.       888   888    888 888        888  .88P       d88P888 888    888 
 "Y888b.    888   888    888 8888888    8888888K.      d88P 888 888   d88P 
    "Y88b.  888   888    888 888        888  "Y88b    d88P  888 8888888P"  
      "888  888   888    888 888        888    888   d88P   888 888 T88b   
Y88b  d88P  888   888  .d88P 888        888   d88P  d8888888888 888  T88b  
 "Y8888P" 8888888 8888888P"  8888888888 8888888P"  d88P     888 888   T88b
*/
.r-sidebar{
  float: left;
  width: 30%;
  /*min-width: 200px;*/
}




/*
8888888888  .d88888b.   .d88888b. 88888888888 8888888888 8888888b.  
888        d88P" "Y88b d88P" "Y88b    888     888        888   Y88b 
888        888     888 888     888    888     888        888    888 
8888888    888     888 888     888    888     8888888    888   d88P 
888        888     888 888     888    888     888        8888888P"  
888        888     888 888     888    888     888        888 T88b   
888        Y88b. .d88P Y88b. .d88P    888     888        888  T88b  
888         "Y88888P"   "Y88888P"     888     8888888888 888   T88b
*/
footer {
  background: url("../img/bgd.png") #eee; 
  box-shadow: 0px -1px 1px 1px rgba(0,0,0,.4);
  padding: 10px 0;
}
.foot {
  font-size: 14px;
  float: left;
  padding: 0 20px;
  color: #fff;
}
.foot ul {
  padding-left: 0px;
  margin: 0;
}
.foot ul li {
  padding: 2px;
}
.foot a {
  color: #eee;
}
.foot a:hover {
  text-decoration: underline;
}

/***********************/
/*  MEDIA RESPONSIVE*/
/***********************/
@media all and (max-width: 800px) {
  .r-sidebar {
    float: none;
    width: 100%;
    text-align: center;
  }
  .content {
  width: 100%;
  float: none;
  }
  .sponsored {
    display: none;
  }
  div.main-image {
    padding: 0;
  }
  .foot {
    float: none;
    width: 100%;
    text-align: center;
    font-size: 120%;
    padding: 20px 0;
  }
  .foot h5 {
    font-size: 120%;
  }
}