/* --------------------------------

Primary style

-------------------------------- */
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    /* you need to set this to assign to the main element a min height of 100% */
    height: 100%;
}

body {
    font-size: 100%;
    font-family: "Open Sans Condensed", sans-serif;
    color: #333;
    background-color: #f9f9f9;
}

a {
    color: #E02222;
    text-decoration: none;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
/*--------------------------------------------------------------*/

/* --------------------------------

Header style

-------------------------------- */
header {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: #fff;
    z-index: 99999;
    box-shadow: 0 1px 3px #ddd;
}

.header-trigger {
    width: 40px;
    border-radius: 4px;
    background-color: #e34f00;
    height: 40px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}
.header-trigger-menu {
    background-image: url('../images/ico-hamburger.png');
}
.header-trigger-search {
    background-image: url('../images/ico-search.png');
}
.header-trigger-account {
    background-image: url('../images/ico-user.png');
}
.header-trigger-cart {
    background-image: url('../images/ico-cart.png');
}
.header-triggers-right {
    float: right;
    margin: 5px;
}
.header-triggers-left {
    float: left;
    margin: 5px;
}
.header-caption {
    text-align: left;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}



/* --------------------------------

Main content style

-------------------------------- */
main {
    margin: 5px;
    padding: 5px;
    margin-top: 50px;
    background-color: #fff;
}
.main-section {
    margin: 20px 0;

}
.h1 {
    display: block;
    text-align: center;
    margin: 5px auto;
}
/*     SEARCH SECTION        */

.search-block {
    text-align: center;
    position: relative;
}
.search-block input{
    /*height: 24px;*/
    /*line-height: 20px;*/
    /*font-size: 16px;*/
    width: 100%;
    margin-bottom: 0;
    padding: 8px 80px 8px 8px;
    /*padding-right: 68px;*/
    /*padding-right: 30px;*/
    /*position: absolute;*/
    border-radius: 4px;
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.search-block input:focus {
    border-color: #343642;
    box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
    outline: none;
}
.search-block a {
    position: absolute;
    /*opacity: .4;*/
    right: 0;
    top: 0;
    display: inline-block;
    vertical-align: middle;
    padding: 8px 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 100%;
    /*line-height: 100%;*/
    font-size: 18px;
    color: #fff;
    background-color: #e34f00;
    text-decoration: none;
}
/*--------------------------------------------------*/

/*    SMALL MENU SECTION      */
.small-menu {
    margin-top: 20px;
    border-bottom: 1px solid #4e6361;
}
.small-menu-item {
    padding: 8px;
    margin-bottom: 8px;
    color: #fff;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.5)
}
.small-menu-item-l {
    float: left;
    width: 49%;
}
.small-menu-item-r {
    float: right;
    width: 49%;
}

/*-----------------------------------------------*/

/*   ЗАГЛУШКА ДЛЯ МЕНЮ РЕКЛАМЫ И СКИДОК                   */
.adv-template {
    width: 100%;
    height: 60px;

    text-align: center;
    outline: 1px solid;
}
/*--------------------------------------------------------*/

/*        СЕКЦИЯ ВЫБОРА МАРКИ АВТОМОБИЛЯ                  */
.car-model-select-section {
    text-align: center;
}

.car-model-select-section select {
    background: transparent;
    border: none;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #d2d8d8;
    border-radius: 4px;
    padding: 8px; /* If you add too much padding here, the options won't show in IE */
    width: 90%;
}
.car-model-select-section select:focus {
    border-color: #343642;
    box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
    outline: none;
}







/*-------------------------------------------------------*/
.goods {
    margin-top: 10px;
}

.good-item {
    background-color: #fff;
    position: relative;
    display: inline-block;
    width: 95px;
    height: 95px;
    border: 1px solid red;
    margin-bottom: 5px;
}
.good-item:nth-child(1) {
    background-image: url("../images/acum.png");
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}
.good-item:nth-child(2) {
    background-image: url("../images/disk.png");
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}
.good-item:nth-child(3) {
    background-image: url("../images/oil.png");
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}
.good-item:nth-child(4) {
    background-image: url("../images/oil.png");
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}
.good-item:nth-child(5) {
    background-image: url("../images/acum.png");
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}
.good-item:nth-child(6) {
    background-image: url("../images/disk.png");
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}
.good-item:nth-child(7) {
    background-image: url("../images/disk.png");
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}
.good-item span {
    position: absolute;
    bottom: 0px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
}





/*-------------------------------------*/
.shadow-layer {
    position: fixed;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(67, 87, 121, 0.6);
    cursor: pointer;
    z-index: 2;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility .3s;
}
.shadow-layer.is-visible {
    display: block;
    opacity: 1;
    visibility: visible;
}
.overflow-hidden {
    overflow: hidden;
}
/*------------------------------------------
    МОДАЛЬНЫЕ ОКНА
-------------------------------------------*/
.modal-container {
    padding: 10px;
    padding-top: 60px;
}

/*  САЙДБАР КОРЗИНЫ         */
.cart-sidebar {
    

    position: fixed;
    width: 260px;
    top: 0;
    height: 100%;

    overflow-y: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 3;
    background-color: #fff;
    transition: right 0.3s;
    right: -100%;
    z-index: 3;
}
#cart.speed-in {
    right: 0;
}

/*------------------------------------------------------*/

/*  САЙДБАР МЕНЮ         */
/*------------------------------------------------------*/

.menu-sidebar {
    padding: 0;
    padding-top: 50px;
    position: fixed;
    top: 0;
    height: 100%;
    width: 260px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 3;
    transition: right 0.3s;
    background-color: #fff;
    left: -100%;
    background: #FFF;
    transition: left 0.3s;
}
#side-menu.speed-in {
    left: 0;
}
.sidebar-main-link {
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 1em;
    border-bottom: 1px solid #e0e6ef;
    color: #435779;
}
.menu-sidebar .sidebar-sub-menu {
    background-color: #f9f9f9;
    margin: 0;
    list-style-type: none;
    padding-left: 30px;
}
.menu-sidebar .sidebar-sub-menu a {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0;
    /*border-bottom: 1px solid #e0e6ef;*/
    color: #435779;
}
/*------------------------------------------------------*/
/*  САЙДБАР ПОИСКА   */
/*------------------------------------------------------*/

.search-sidebar {
    position: fixed;
    background-color: #fff;
    top: 0;
    width: 100%;
    /*padding: 5px;*/
    top: -100%;
    transition: top .3s;
    z-index: 3;
}
.search-sidebar span {
    margin-bottom: 10px;
    display: inline-block;
}
.search-sidebar input {
    width: 100%;
}
#search.speed-in {
    top: 0;
}

/*----------------------------------------------------*/

/*     МОДАЛЬНОЕ ОКНО АККАУНТА    */
/*-----------------------------------------------------*/
#account.speed-in {
    top: 0;
    visibility: visible;
}
.account-sidebar {
    position: fixed;
    visibility: hidden;
    top: -100%;
    transition: top .3s;
    z-index: 3;
    width: 100%;
    height: 100%;
}
.m21-user-modal-container {
    position: relative;
    display: inline-block;
    /*top: 0;*/
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    margin: 0;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background: #FFF;
    cursor: auto;
    border-radius: 0.25em;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.m21-switcher {
    margin: 0;
    padding: 0;
    list-style: none;
}
.m21-switcher li {
    width: 50%;
    float: left;
    text-align: center;
}
.m21-switcher li:first-child a {
    border-radius: .25em 0 0 0;
}
.m21-switcher li:last-child a {
    border-radius: 0 .25em 0 0;
}
.m21-switcher a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #d2d8d8;
    color: #809191;
}
.m21-switcher a.selected {
    background: #FFF;
    color: #505260;
}


#account {
    overflow-y: auto;

}

/*  ПОЛЯ ВХОДА В АККАУНТ*/
.m21-form {
    padding: 10px;
}
.m21-form .fieldset {
    position: relative;
    margin: 20px 0;
}
#m21-signup .m21-form .fieldset {
    position: relative;
    margin: 10px 0;
}
.m21-form label {
    font-size: 14px;
    font-size: 0.875rem;
}
.m21-form label.image-replace {
    /* replace text with an icon */
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    text-shadow: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.3;
}
.m21-form label.m21-username {
    background-image: url("../images/ico-user-black.png");
}
.m21-form label.m21-email {
    background-image: url("../images/ico-email-black.png");
}
.m21-form label.m21-password {
    background-image: url("../images/ico-password-black.png");
}
.m21-form label.m21-phone {
    background-image: url("../images/ico-phone-black.png");
}

.m21-form input, .m21-form select.has-border {
    margin: 0;
    padding: 0;
    border-radius: 0.25em;
}
.m21-form input.full-width, .m21-form select.has-border  {
    width: 100%;
}
.m21-form input.has-padding {
    padding: 12px 20px 12px 50px;
}
.m21-form select.has-border {
    border: 1px solid #d2d8d8;
    padding: 12px 20px 12px 12px;
    background-color: #fff;
    color: #A9A9A9;
}
.m21-form input.has-border {
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.m21-form input.has-border:focus, .m21-form select.has-border:focus {
    border-color: #343642;
    box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
    outline: none;
}

/**/
.m21-form input.has-error {
    border: 1px solid #d76666;
}
.m21-form input[type=password] {
    /* space left for the HIDE button */
    padding-right: 65px;
}
.m21-form input[type=submit] {
    padding: 16px 0;
    cursor: pointer;
    background: #e34f00;
    color: #FFF;
    font-weight: bold;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.no-touch .m21-form input[type=submit]:hover, .no-touch .m21-form input[type=submit]:focus {
    background: #3599ae;
    outline: none;
}
.m21-form .hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    font-size: 0.875rem;
    color: #343642;
}
.m21-form .m21-error-message {
    display: inline-block;
    position: absolute;
    left: -5px;
    bottom: -35px;
    background: rgba(215, 102, 102, 0.9);
    padding: .8em;
    z-index: 2;
    color: #FFF;
    font-size: 13px;
    font-size: 0.8125rem;
    border-radius: 0.25em;
    /* prevent click and touch events */
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
    -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
    transition: opacity 0.2s 0, visibility 0 0.2s;
}
.m21-form .m21-error-message::after {
    /* triangle */
    content: '';
    position: absolute;
    left: 22px;
    bottom: 100%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}
.m21-form .m21-error-message.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0, visibility 0 0;
    -moz-transition: opacity 0.2s 0, visibility 0 0;
    transition: opacity 0.2s 0, visibility 0 0;
}
.m21-form-message {
    padding: 1.4em 1.4em 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
}
.m21-form-bottom-message {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -50px;
    text-align: center;
    font-size: 16px;
    font-size: 0.875rem;
}
.m21-form-bottom-message a {
    color: #FFF;
    font-size: 16px;
    padding: 10px;
    text-decoration: underline;
}

.m21-close-form {
    /* form X button on top right */
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: -40px;
    background: url("../img/cd-icon-close.svg") no-repeat center center;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

#m21-login, #m21-signup, #m21-reset-password {
    display: none;
}
#m21-login.is-selected, #m21-signup.is-selected, #m21-reset-password.is-selected {
    display: block;
}