body {
    font-family: sans-serif;
}
.app {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}
.app-pic-zone {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}
.app-pic-zone img {
    max-width: 100%;
}


.app-drop-zone {
    padding: 20px;
    text-align: center;
    margin-bottom: 50px;
}

.app-drop-item {
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    border: 1px solid #aaa;
    line-height: 1;
    vertical-align: middle;
    min-width: 50px;
    border-radius: 1em;
    transition: transform 100ms;
    cursor: default;
}
.app-drop-item.hovered-drop {
    transform: scale(1.1);
}
[hidden] {
    display: none !important;
}




.app-words-zone {
    text-align: center;
}
.app-word__wrap {
    display: inline-block;
    padding: 10px;
    margin: 0 10px;
}

.app-word {
    display: inline-block;
    padding: 5px 10px;
    cursor: -webkit-grab;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 1em;
    background-color: #fff;
}
.app-word:hover,
.app-word.dragged {
    box-shadow: 0 0 8px rgba(0, 0, 0, .5);
    border-radius: 1em;
}


.app-finish {
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.app-success,
.app-fail {
    display: inline-block;
    color: #fff;
    padding: 30px;
    font-weight: 600;
    display: none;
}
.app-success {
    background-color: green;
}
.app-fail {
    background-color: red;
}

.success .app-success {
    display: inline-block;
}
.fail .app-fail {
    display: inline-block;
}