.row {
  margin: 0 -10px;
  margin-bottom: 20px;
}
.row:last-child {
  margin-bottom: 0;
}
[class*="col-"] {
  padding: 10px;
}

@media all and ( min-width: 600px ) {

  .col-2-3 {
    float: left;
    width: 66.66%;
  }
  .col-1-2 {
    float: left;
    width: 50%;
  }
  .col-1-3 {
    float: left;
    width: 33.33%;
  }
  .col-1-4 {
    float: left;
    width: 25%;
  }
  .col-1-8 {
    float: left;
    width: 12.5%;
  }

}
.wrapper {
	width: 95%;
	margin: 0 auto;
	padding: 20px;
	max-width: 1170px;
}
body {
	font-family: 'Roboto', sans-serif;
}
/* ========================================= */
/*  buttons  */
/* ========================================= */
.btn {
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	font-size: 15px;
	background-color: #e84545;
	border-radius: 3px;
}
.btn:hover {
	background: #e52e2e;
}
.btn-large {
	padding: 15px 40px;
}
/* ========================================= */
/*  ICON FONT  */
/* ========================================= */
@font-face {
	font-family: "elegant-theme-line";
	  src: url('../fonts/elegant-theme-line.ttf?1439850014') format('truetype'), url('../fonts/elegant-theme-line.eot?1439850014') format('embedded-opentype'), url('../fonts/elegant-theme-line.svg?1439850014') format('svg'), url('../fonts/elegant-theme-line.woff?1439850014') format('woff');
	}
.icon {
	font-family: "elegant-theme-line";
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	 /*better rendering for fonts */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/* ========================================= */
/*  top  */
/* ========================================= */
.top {
	height: 750px;
	background: url("../images/banner.jpg") no-repeat center;
	/*background-position: ;*/
	background-size: cover;
}
header {
	padding: 20px 0;
	vertical-align: center;
	height: 100px;
	/*background: gray;*/
	border-bottom: 2px solid rgba(0,0,0,.2);
}
.logo {
	display: block;
	float: left;
	margin-top: 13px;
}
.logo a {
	/*padding: 15px;*/

}
nav {
	float: right;
	margin-top: 4px; 
}
nav li {
	display: inline-block;
}
nav a {
	/*border: 1px solid ;*/
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	padding: 10px 15px;
}
nav a:hover {
	color: white;
	background: #e84545;
}
.splash {
	/*text-transform: uppercase;*/
	text-align: center;
	color: white;
	font-size: 150%;
	margin-top: 200px;
}
.splash h1 {
	font-size: 250%;
	text-transform: uppercase;
}
.splash p {
	margin-bottom: 100px;
	font-weight: 300;
}

/* ========================================= */
/*  features  */
/* ========================================= */
.features {
	padding: 50px 0;
}
.feature {
	text-align: center;
}
.features .icon {
	color: #e84545;
	font-size: 80px;
}
.ico-1:before {
	content: "\e033";
}
.ico-2:before {
	content: "\e044";
}
.ico-3:before {
	content: "\e01a";
}
.ico-4:before {
	content: "\e01c";
}
.ico-5:before {
	content: "\e04d";
}
.ico-6:before {
	content: "\e055";
}
.features h5 {
	font-size: 20px;
	font-weight: 300;
}
/* ========================================= */
/*  works  */
/* ========================================= */
.works .row {
	margin-bottom: 0;
}
.work {
	height: 300px;
	background-color: limegreen;
	border: 1px solid rgba(255,255,255,.8);
	position: relative;
	background-size: 150% 150%;
	background-position: 50% 50%;
	transition: background-size 1s ease-in-out;
}
.work:hover {
	background-size: cover;
	transition: background-size 1s ease-in-out;
}
.work-about span {
	display: block;
	color: white;
	visibility: hidden;
}
.work-about .project-name {
	font-size: 110%;
	font-weight: 600;
}

.work-about {
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.work:hover span{
	visibility: visible;
	transition: visibility 1s ease-in-out;
}
.work-1 {
	background: url("../images/work-1.jpg") no-repeat;
}
.work-2 {
	background: url("../images/work-2.jpg") no-repeat;
}
.work-3 {
	background: url("../images/work-3.jpg") no-repeat;
}
.work-4 {
	background: url("../images/work-4.jpg") no-repeat;
}
.work-5 {
	background: url("../images/work-5.jpg") no-repeat;
}
.work-6 {
	background: url("../images/work-6.jpg") no-repeat;
}
.work-7 {
	background: url("../images/work-7.jpg") no-repeat;
}
.work-8 {
	background: url("../images/work-8.jpg") no-repeat;
}
/* ========================================= */
/*  TEAM  */
/* ========================================= */
.team {
	margin-top: 50px;
} 
.team-description h4 {
	font-size: 25px;
	font-weight: 300;
	margin-top: 10px;
	margin-bottom: 10px;
}
.team-description p.position {
	color: #e84545;
	margin: 0;
	font-size: 14px;
}
.team-description p {
	color: rgba(0,0,0,.8);
}
.team a {
	color: #c6cacc;
}
.team a:hover {
	background: #e84545;
	color: white;
	transition: background .2s ease-in-out, color .2s ease-in-out;
}
.team .icon {
	 /*better rendering for fonts */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	padding: 5px;
	/*background: red;*/
	/*color: #e84545;*/
	border-radius: 3px;
	/*font-weight: bold;*/
	font-size: 28px;
}
.ico-fb:before {
	content: "\e05d";
}
.ico-tw:before {
	content: "\e05e";
}
.ico-gp:before {
	content: "\e05f";
}
.ico-tmbl:before {
	content: "\e061";
}
.ico-lnd:before {
	content: "\e062";
}
/* ========================================= */
/*  TESTIMONIALS  */
/* ========================================= */
.testimonials{
	padding: 50px 0;
}
.testim {

}
.testim .col-1-2 {
	height: 300px;
}
.testimonial-image{
	background: url("../images/testimonial-1.jpg") no-repeat center;
	min-height: 100%;
}

.testimonial-text {
	background: #53354A;
}
.testimonial-text blockquote {
	font-size: 35px;
	font-style: italic;
	padding: 0 20px;
	color: white;
	font-weight: 300;
}
.testimonial-text p{
	margin-bottom: 0;

}
.testimonial-text cite {
	font-size: 16px;
	font-style: normal;
	text-transform: uppercase;
}

/* ========================================= */
/*  DOWNLOAD  */
/* ========================================= */
.download {
	text-align: center;
	padding-bottom: 50px;
}
.download h3 {
	font-size: 30px;
	font-weight: 300;
}
.download p {
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 40px;
}
/* ========================================= */
/*  FOOTER  */
 /*========================================= */
footer {
 	background: #3A3E64;
 	text-align: center;
 	color: #9C9EB1;
 	font-weight: 300;
}
footer h5 {
 	color: white;
 	font-weight: 500;
 	letter-spacing: 1px;
 	font-size: 16px;
	text-transform: uppercase;
 }
 footer a {
 	color: white;

 }
footer .share-btns a {
 	display: inline-block;
 	margin: 0 5px;
 	text-decoration: none;
 	font-size: 30px;
}
footer a:hover {
 	color: #e84545;
}
.footer-bottom {
	background: #313454;
}
.footer-bottom {
	padding: 10px 0;
}