/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change,
 *    without disabling user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


/**
 * Remove default margin.
 */

body {
  margin: 0;

  font-family: 'Roboto', sans-serif;

}
.container {
  margin: 0 auto;
  max-width: 60rem;
  padding-bottom: 1.5rem;
  width: 90%;
}


a {
	display: inline-block;
	color: #363835;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}