/*************/
/* UNIVERSAL */
/*************/


body {
	background: #f9e933;
	font-size: 100%;
	font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: Ubuntu, sans-serif;
}
h1 {
	font-size: 300%;
	padding: 10px;
}
h2 {
	font-size: 200%;
	padding: 10px;
}
h3 {
	font-size: 150%;
	padding: 10px;
}
h5 {
	font-size: 120%;
	padding: 10px;

}

p {
	padding: 10px;
}
a {
	padding: 5px;
	text-decoration: none;
	color: #c00f00;
}
a:hover {
	text-decoration: underline;
}
li {
	margin: 5px;
}

header, main, footer {
	min-width: 855px;
}

header .container, main .container, footer .container{
	max-width: 855px;
	margin: auto;
}

/************/
/*  HEADER  */
/************/
header {
	background: white;
	overflow: auto;
	padding: 15px;
}

header h1 {
	float: left;
	width: 570px;

}

header nav {
	float: right;
	width: 265px; /*  Because of the 20px padding of the h1 element  */
}

/******************/
/*  MAIN CONTENT  */
/******************/

main {
	background: white;
	overflow: auto;
	padding: 15px;
}

main #content {
	float: left;
	width: 570px;
}

main img {
	float: right;
	width: 285px;
}



div .contact {
	float: left;
	width: 570px;
}

div .sitemap {
	float: right;
	width: 285px;
}
main li {
	padding: 2px 5px;
}

/************/
/*  FOOTER  */
/************/

.contact p {
	padding: 5px 10px;
}

footer {
	padding-top: 10px;
}