body {
	font-family: 'Lato', sans-serif;

}

.content-container {
	max-width: 980px;
	margin: 4em auto;
}

.site-header {
	background-color: #fff;
	box-shadow: 0 0 1px rgba(0,0,0,.2);
}

.header-content-container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.site-logo {
	position: relative;
	display: inline-block;
	width: 4em;
	margin-right: 3em;
	/*height: 4em;*/
	/*line-height: 4em;*/
	text-align: center;
	vertical-align: top;
	color: #fff;
	font-family: "Playfair Display", serif;
	text-decoration: none;
	font-size: 24px;
	z-index: 1;
}
.site-logo::before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);

	background-color: #d42819;
	border-radius: 50%;
	width: 4em;
	height: 4em;
	z-index: -1;
}
.site-logo::after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 4.4em;
	height: 4.4em;
	border-radius: 50%;
	z-index: -2;

	background-color: rgba(0,0,0,.1);

}



.site-nav__link {
	position: relative;
	display: inline-block;
	padding: 1em .4em;

	letter-spacing: .5px;
	font-weight: 300;
	color: #8d8c8c;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;

}
.site-nav__link::after {
	content: '';
	position: absolute;
	display: block;
	width: 90%;
	height: 1px;
	left: 50%;
	bottom: .6em;
	transform: translateX(-50%);

	background-color: #d42819;
	opacity: 0;
	transition: opacity .3s;
}
.site-nav__link:hover::after {
	opacity: 1;
}

