
header {
  height: 100vh;
  background-image: url("../img/splash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
/*-------------------------------------------------------*/
/*        SPLASH            */
/*-------------------------------------------------------*/
.splash {
  position: relative;
  height: 100%;
}

.splash-title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  color: #fff;

}
.splash-title  h1{
  /*text-align: center;*/
  font-size: 4rem;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, .8);
  letter-spacing: 1px;
  font-weight: 600;
}
.splash-title  span{
  color: rgba(255, 255, 255, .8);
  font-size: 1.5rem;
  font-weight: 300;

}

/* button  */
.down {
  position: absolute;
  bottom: 3.5rem;

  left: 50%;
  transform: translatex(-50%);

  background-color: #fff;
}





/*-------------------------------------------------------*/
.header-top {
  background-color: #fff;
  padding: .4rem 0;
  margin: 0 auto;
  min-width: 60rem;
}
a {
  color: #363835;
  padding: .2rem .5rem;
  font-size: .9rem;
}



/*   logo   */
.logo {
  display: inline-block;
}
/* navigation   */

.nav {
  margin: 0;
  padding-left: 0;

  text-align: center;
  list-style: none;
}
.nav li {
  display: inline-block;
  vertical-align: middle;
}
.phone {
  color: ;
  cursor: default;
  text-decoration: none;
  
}

/*-------------------------------------------------------*/
/*        REAL HAND            */
/*-------------------------------------------------------*/
.real-hand-title h2 {
  font-size: 4rem;
  margin-bottom: .5rem;
  letter-spacing: 2px;
  color: #e2470d;

}
.real-hand-title span {
  font-size: 2.5rem;
  color: rgba(0, 0, 0, .9);
  font-weight: 300;
}


/*   real-hand-features    */
.real-hand-features {
  margin: 4rem 0;
  width: 100%;
  height: 100%;
}

.hand-feature {
  float: left;
  width: 33.33333%;

  text-align: center;
  padding: 1rem;
}
.hand-feature i {
  display: inline-block;
  width: 100px;
}
.hand-feature span {
  display: block;

  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.2rem;
  padding: 1rem;
  padding-top: 2rem;
}

/*-------------------------------------------------------*/
/*        HAND GALLERY            */
/*-------------------------------------------------------*/
.real-hand-gallery {
  height: 400px;
  
  margin-bottom: 2rem;

  background-image: url("../img/arm.png");
  background-repeat: no-repeat;
  background-position:  bottom;
  background-size: contain;
}
.hand-parts {
  position: relative;
  padding-left: 0;
  list-style: none;
}
.hand-parts li {
  position: absolute;

  display: inline-block;

  font-size: .8rem;
  padding: .5rem 1rem;
}

.hand-parts li:nth-child(1) {
  left: 50px;
  top: 20px;
}
.hand-parts li:nth-child(2) {
  left: 200px;
  top: 80px;
}
.hand-parts li:nth-child(3) {
  left: 350px;
  top: 120px;
}
.hand-parts li:nth-child(4) {
  left: 560px;
  top: 30px;
}
.hand-parts li:nth-child(5) {
  left: 700px;
  top: 70px;
}

.hand-parts li:hover {
  outline: 1px solid #e2470d;
}


/*-------------------------------------------------------*/
/*        WARRANTY            */
/*-------------------------------------------------------*/
.warranty {
  color: #fff;
  background-color: #e2470d;
  padding-top: 1px;
  padding-bottom: 2rem;
}
.warranty-title h2{
  font-size: 4rem;
  margin-bottom: 1rem;
}
.warranty-title span {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2rem;
  padding-top: 2rem;
  color: #111;
}
.warranty-title {
  margin-bottom: 4rem;
}
/*   warranty table  */

.half-block {
  position: relative;
  float: left;
  width: 50%;
  text-align: center;
  margin-bottom: 2rem;
}
.col-3 {
  position: relative;  
  float: left;
  width: 33.33333%;
  margin-bottom: 2rem;
}
.warranty-header i,
.warranty-header h4,
.warranty-header span {
  display: inline-block;
}
.warranty-header i {
  width: 8rem;
}

.warranty-header h4 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: .5rem;
}
.warranty-header span {
  text-transform: uppercase;
  color: #111;
}
.warranty-body p,
.warranty-body h5,
.warranty-body span
{
    text-align: center;
}
.warranty-body span {
  display: block;
}
.warranty-body p {
  text-align: right;
  color: #000;
  font-weight: 600;
  font-size: 2.5rem;
}
.warranty-body .col-3:last-child p{
  text-align: left;
}
.warranty-body h5 {
  font-size: 6rem;
  margin: 0;
}
.warranty-body span {
  font-size: 2rem;
}
.warranty-lifetime {

  width: 80%;
  margin: 0 auto;

  padding: 2rem;
  border: 5px dotted #fff;
}
.warranty-lifetime h4{
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}
.warranty-lifetime p{
  font-weight: 300;
  font-size: 1.2rem;
}

/*-----------------------------*/
/*  installation    */
/*-----------------------------*/
.installation {
  padding: 2rem;
}
.installation h2 {
  font-size: 3rem;
}
.installation p {
  font-size: 1.2rem;
  margin: 2rem;
  margin-top: 3rem;
  padding: 1rem;
  border: 3px dotted #e2470d;
}

.installation-cost {
  /*width: 100%;*/
  text-align: center;
}
.installation-cost em {
  display: block;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 2px;
  color: #e2470d;
}
.installation-cost span {
  font-size: 1.5rem;
  font-weight: 300;
}

/*-----------------------------------*/
/*   support       */
/*-----------------------------------*/
.support-wrap {
  background-color: #e5e5e5;
}
.support {
  margin-top: 3rem;
  padding: 2rem;
}

.support h2 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 4rem;
}
.support i {
  display: block;
  
  width: 100px;
  margin: 0 auto;

  text-align: center;
}
.support span {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 1rem;
}