/* -------------------------------- 

Base rules

-------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: sans-serif;
  line-height: 1;
  color: #333333;
  background-color: white;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #333333;
  text-decoration: none;
}

img, embed, object, video, svg {
  max-width: 100%;
}

input, textarea {
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1rem;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.clearfix::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
.form-builder {
  margin: 100px auto;
  width: 680px;
}

/*
   #####  ### ######  ####### ######     #    ######  
  #     #  #  #     # #       #     #   # #   #     # 
  #        #  #     # #       #     #  #   #  #     # 
   #####   #  #     # #####   ######  #     # ######  
        #  #  #     # #       #     # ####### #   #   
  #     #  #  #     # #       #     # #     # #    #  
   #####  ### ######  ####### ######  #     # #     # 
                                                      
*/


.sidebar {
  width: 160px;
  height: 100%;
  background: #f3f3f3;
  float: left;
}
.header-side h2 {
  text-align: left;
  font-size: 100%;
  padding: 10px;
  font-weight: 600;
}
.sidebar ul {
  margin: 0 30px 20px 10px;
}
.sidebar ul li {
  display: block;
  font-size: 90%;
  margin-bottom: 3px;
}
.sidebar ul li a {
  position: relative;
  padding: 5px;
  padding-left: 25px;
  display: block;
  width: 100;
  border: 1px solid #989898;
}

.sidebar ul li a::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  background: url("../img/icons.svg") no-repeat 0 0;
  width: 16px;
  height: 16px;
}

/*
  .___  ___.      ___       __  .__   __. 
  |   \/   |     /   \     |  | |  \ |  | 
  |  \  /  |    /  ^  \    |  | |   \|  | 
  |  |\/|  |   /  /_\  \   |  | |  . `  | 
  |  |  |  |  /  _____  \  |  | |  |\   | 
  |__|  |__| /__/     \__\ |__| |__| \__| 
                                          
*/

.main {
  margin-left: 160px;
}
.header-main {
  border-bottom: 1px solid #ececec;
  height: 40px;
}
.header-main h2 {
  text-align: left;
  font-size: 100%;
  padding: 10px 0 15px 15px;
  font-weight: 600;
  float: left;
}
.header-main-edit {
  float: left;
  margin-left: 40px;
  margin-top: 7px;
  /*margin-bottom: 5px;*/
  /*height: 40px;*/
  /*line-height: 40px;*/
}
.header-main-edit a {
  display: inline-block;
  font-size: 90%;
  padding: .3em .6em;
}
.header-main-edit a.edit-active {
  background: #c6c6c6;
  color: white;
  font-weight: 600;
}

.main-form {
  border: 1px solid #ececec;
  width: 500px;
  padding: 10px;
  margin: 2em 1em;
}

/*
   _______   ______   .______      .___  ___.        .___________.  ______   .______   
  |   ____| /  __  \  |   _  \     |   \/   |        |           | /  __  \  |   _  \  
  |  |__   |  |  |  | |  |_)  |    |  \  /  |  ______`---|  |----`|  |  |  | |  |_)  | 
  |   __|  |  |  |  | |      /     |  |\/|  | |______|   |  |     |  |  |  | |   ___/  
  |  |     |  `--'  | |  |\  \----.|  |  |  |            |  |     |  `--'  | |  |      
  |__|      \______/  | _| `._____||__|  |__|            |__|      \______/  | _|      
                                                                                       
*/

.form-top {
  position: relative;
  border-bottom: 1px dashed #c7c7c7; 
}
.form-top span {
  font-weight: 600;
  display: block;
  margin: 5px 0;
}
.form-top .checkboxes {
  margin: 5px;
}
.checkbox-close {
  position: absolute;
  right: 0;
  top: 0;
}
.checkbox-close a {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/icons.svg") no-repeat 0 0;
}

/*---------------------------*/
/*    TABS                   */
/*---------------------------*/

.form-tabs {
  height: 34px;
}
.form-tabs li {
  display: block;
  float: left;
}
.form-tabs li a {
  display: block;
  height: 34px;
  line-height: 34px;
  padding: 0 .5em;
  border-left: 1px solid #989898;
  border-bottom: 1px solid #989898;
}
.form-tabs li a.tab-selected {
  background: #f1f1f1;
  border-bottom: none; 
}
.form-tabs .tabs-close {
  float: right;
  display: block;
  height: 34px;
  line-height: 34px;
  padding: 0 .5em;

}
/*-------------------------*/
/*    FORM BOTTOM          */
/*-------------------------*/
.form-bottom {
  background: #f1f1f1;
  padding: 1em 0;
}
.form-bottom .form-section {
  padding: 0.4em 0.8em;
}
.form-bottom .form-section label {
  display: block;
  font-weight: 600;
  margin-bottom: .1em;
}
.form-bottom .form-section .form-help {
  display: block;
  font-size: 80%;
  color: #656565;
  padding: 3px;
}
.form-bottom .form-section input, .form-bottom .form-section textarea{
  width: 100%;
  padding: .2em;
  /*font-size: 105%;*/
}
.form-bottom .form-section textarea {
  height: 100px;
}