html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	background: #F5EEDB;
	font-size: 1em;
}

#wrapper {
	position: relative;
	height: 100%;
	width: 900px;
	margin: auto;
}

main {
	margin-top: 30px;
	padding-bottom: 120px;
	height: 100%;
}

header {
	background: #483A3A;
	color: #fff;
	padding: 10px;
}
h2 {
	font-size: 200%;
}

.comments p:nth-child(odd) {
	background: #fff;
	margin: 5px 0;
	padding: 5px;
	border-radius: 5px;

}

.comments p:nth-child(even) {
	background: #EAE1C0;
	margin: 5px 0;
	padding: 5px;
	border-radius: 5px;
}

.comment-input {
	float: left;
	width: 300px;
}

.comments {
	float: right;
	width: 600px;

}


footer {
	text-align: center;
	background: #8FB98B;
	height: 120px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}