body {
	background-image: url("../images/coffee-beans-top.png"), url("../images/ricepaper.png");
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	background-repeat: no-repeat, repeat;
}
.container-fluid {
	padding: 0;
}

.big-wrapper {
	max-width: 960px;
	margin: 0 auto;
}
.big-wrapper.shadow-wrapper {
	box-shadow: 0 0 14px 0 rgba(0,0,0,.5);
	background: #fff;
}


header.header {
	margin-top: 35px;
}
/*  header-top  */
.header-top {
	margin-bottom: 20px;
}
.header-top > div {
	padding-top: 20px;
	text-align: center;
	font-family: 'Lobster', cursive;
	color: #e4251d;
	vertical-align: middle;
	font-size: 16px;
}



/*  NAVBAR TOGGLER  */
.navbar-toggler button.navbar-toggle {
	float: left;
	margin-left: 20px;
}

/*  header navigation  */
.header-nav {
	margin: 0;
	padding: 0;
	border-radius: 0;
	min-height: 40px;
	background-color: #245557;
	border: none;
}
.header-nav-links .navbar-nav>li>a {
	padding: 10px;
	text-transform: uppercase;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	letter-spacing: 0.5px;
	color: #fff;
}
.header-nav-links .navbar-nav>li>a:hover {
	color: #245557;
	background-color: #fff;
}
.header-nav-links .navbar-nav>li.open>a:hover {
	color: #245557;
}
.header-nav-links .dropdown-menu li>a:hover {
	color: #fff;
	background-color: #245557;
}
/*   NAVBAR SEARCH   */
.navbar-form-my {
	position: absolute;
	right: 0;
	top: 0;
}
.form-group-my {
	position: relative;
	background-color: rgba(255,255,255,.1);
}
.navbar-form-my input {
	height: 25px;
	border: none;
	outline: none;
	background-color: rgba(255,255,255,.1);
	color: #fff;
	font-weight: 500;
	letter-spacing: .5px;
	padding-right: 25px;
}
.form-control-my::-webkit-input-placeholder {
	color: rgba(255,255,255,.8);
}
.navbar-form-my input:focus {
	box-shadow: none;
	border: none;
}
.navbar-form-my .btn {
	position: absolute;
	right: 5px;
	top: 0;
	border: none;
	/*padding: 3px;*/
	height: 25px;
	background-image: url("../images/search1.png");
	background-size: 90%;
	background-repeat: no-repeat;
	background-color: rgba(255,255,255,0);
	background-position: center;
}
.navbar-form-my .btn:focus {
	outline: none;
}

/*
	888888  dP"Yb  88""Yb     88b 88    db    Yb    dP 88  dP""b8    db    888888 88  dP"Yb  88b 88 
	  88   dP   Yb 88__dP     88Yb88   dPYb    Yb  dP  88 dP   `"   dPYb     88   88 dP   Yb 88Yb88 
	  88   Yb   dP 88"""      88 Y88  dP__Yb    YbdP   88 Yb  "88  dP__Yb    88   88 Yb   dP 88 Y88 
	  88    YbodP  88         88  Y8 dP""""Yb    YP    88  YboodP dP""""Yb   88   88  YbodP  88  Y8 
*/
.top-menu-toggler {
	position: relative;
	display: block;
	float: left;
	width: 44px;
	height: 44px;
	overflow: hidden;
	white-space: nowrap;
	color: transparent;
	z-index: 3;
	cursor: pointer;
}
@media (min-width: 769px) {
	.top-menu-toggler {
		display: none;
	}
}
.top-menu-toggler span,
.top-menu-toggler span:before,
.top-menu-toggler span:after {
	position: absolute;
	display: inline-block;
    height: 3px;
    width: 24px;
    background: #2e3233;
}

.top-menu-toggler span:before,
.top-menu-toggler span:after {
	content: '';
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    right: 0;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform 0.3s 0.3s;
    -moz-transition: -moz-transform 0.3s 0.3s;
    transition: transform 0.3s 0.3s;
}
.top-menu-toggler span {
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -2px;
	-webkit-transition: background 0.3s 0.3s;
	-moz-transition: background 0.3s 0.3s;
	transition: background 0.3s 0.3s;
}
.top-menu-toggler span::before {
    top: -6px;
}
.top-menu-toggler span::after {
    top: 6px;
}


.top-menu {
    background-color: #245557;
}
.top-menu-wrapp {
    float: left;
}
.top-menu__list {
	display: none;
    list-style-type: none;
    padding-left: 0;
    font-size: 0;
    margin-bottom: 0;
    background-color: #245557;
    z-index: 100;
}
.top-menu__list.is-visible {
	display: block;
	margin-top: 44px;
}
@media (min-width: 769px) {
	.top-menu__list {
		display: block;
	}
}
.top-menu__item {
    position: relative;
    display: inline-block;
    font-size: 16px;
}
@media (max-width: 768px) {
    .top-menu__item {
        display: block;
    }
    .top-menu-wrapp {
    	float: none;
    }
}
.top-menu__item:hover .top-submenu{
	display: block;
	z-index: 9999;
}
.top-menu__item a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.5px;
    /*background-color: rgba(255,255,255,.5);*/
    /*outline: 1px solid #000;*/
}
.top-menu__item a:hover {
    background-color: rgba(255,255,255,.180);
}
.top-submenu {
	display: none;
    position: absolute;
    padding: 5px 0;
    border: 1px solid rgba(0,0,0,.15);

    list-style-type: none;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
@media (max-width: 768px) {
    .top-submenu {
        position: relative;
    }
}
.top-submenu a {
	font-weight: 500;
    color: #245557;
}
.top-submenu__item a:hover {
	background-color: #44A1A6;
	color: #fff;
}



/*  ПОЛЕ ПОИСКА  */
.top-menu-search-block {
    float: right;
    margin-right: 15px;
    padding: 6px;
    /*margin-left: auto;*/
}
.top-menu-search-block input {
    width: 100px;
    border-bottom: none;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 0.25em;
    padding: 0.4em 0.8em;
    transition: all 0.2s;

    font-family: 'Open Sans', helvetica, arial, sans-serif;
    /*font-size: 1rem;*/
    -webkit-appearance: none;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    color: rgb(255, 255, 255);
    border-width: initial;
    border-style: none;
    border-color: initial;
}
.top-menu-search-block input:focus {
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 5px;
    width: 120px;
    outline: none;
}
.top-menu-search-block ::-webkit-input-placeholder {color:#fff;}
.top-menu-search-block ::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
.top-menu-search-block :-moz-placeholder           {color:#fff;}/* Firefox 18- */
.top-menu-search-block :-ms-input-placeholder      {color:#fff;}

@media (max-width: 768px) {
	.top-menu-search-block {
		margin-right: 0;
	}
    .top-menu-search-block input {
        display: block;
        width: 96%;
        /*margin: 10px auto;*/
    }
    .top-menu-search-block input:focus {
        width: 100%;
    }
}





/*
88  88 888888 88""Yb  dP"Yb      .dP"Y8 88     88 8888b.  888888 88""Yb 
88  88 88__   88__dP dP   Yb     `Ybo." 88     88  8I  Yb 88__   88__dP 
888888 88""   88"Yb  Yb   dP     o.`Y8b 88  .o 88  8I  dY 88""   88"Yb  
88  88 888888 88  Yb  YbodP      8bodP' 88ood8 88 8888Y"  888888 88  Yb 
*/
.hero-slider {
	position: relative;
}
.hero-slider {
	margin: 0;
	border-bottom: 4px solid #44a1a6;
	border-top: 4px solid #44a1a6;
}
.hero-slider__item {
	display: block;
	/*width: 500px;*/
}
.hero-slider__item img {
	max-width: 100%;
}
.swipe-slider-btn {
	position: absolute;
	display: block;
	height: 100%;
	z-index: 10;
	background-color: rgba(36, 85, 87, .2);
	color: transparent;
	outline: none;
	border: none;
	background-repeat: no-repeat;
	background-image: url("../images/pagination-arrows.png");
	background-size: 220%;
}
.swipe-slider-prev {
	background-position: 10px 50%;
}
.swipe-slider-next {
	top: 0;
	right: 0;
	background-position: -55px 50%;
}



.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
}
.swipe-wrap {
	overflow: hidden;
	position: relative;
}
.swipe-wrap > a {
	display: block;
	float:left;
	width:100%;
	position: relative;
	text-align: center;
}



/*---------------------------------------------------------------------------------------------*/

/*  main navigation links*/
.main > .row {
	margin: 0;
	padding: 30px 15px;
}
.main-side-nav {
	padding: 0 15px;
	/*border: 1px solid #dbd9d8;*/
	box-shadow: inset 0 0 4px 0px rgba(0,0,0,.28);
	border-radius: 4px;
	margin-bottom: 30px;
}
.main-side-nav.nav-stacked>li+li {
     margin-top: 0px; 
}
.main-side-nav__link {
	margin-top: 0;
	border-bottom: 1px solid #ddd;
	font-family: 'Open Sans', sans-serif;
	height: 60px;
}
.main-side-nav__link:last-child {
	border-bottom: none;
}
.main-side-nav .main-side-nav__link>a {
	position: relative;
	height: 100%;
	vertical-align: middle;
	padding-left: 45px;
	color: #000;
	font-weight: 500;
}
.main-side-nav .main-side-nav__link>a span {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	letter-spacing: .5px;
}
.main-side-nav__link a:before {
	content: "";
	position: absolute;
	display: block;
	width: 25px;
	height: 25px;
	left: 8px;
	top: 50%;
	transform: translateY(-50%);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 120%;
	background-size: 120%;
}
.main-side-nav__link:nth-child(1) a:before {
	background-image: url("../images/ico-cofffemachine.jpg");
}
.main-side-nav__link:nth-child(2) a:before {
	background-image: url("../images/ico-cofffesmall.jpg");
}
.main-side-nav__link:nth-child(3) a:before {
	background-image: url("../images/ico-syrop.jpg");
}
.main-side-nav__link:nth-child(4) a:before {
	background-image: url("../images/ico-tea.jpg");
}
.main-side-nav__link:nth-child(5) a:before {
	background-image: url("../images/ico-coffeebean.jpg");
}
.main-side-nav__link:nth-child(6) a:before {
	background-image: url("../images/ico-fix.jpg");
}
.main-side-nav__link:nth-child(7) a:before {
	background-image: url("../images/ico-delivery.jpg");
}
@media (max-width: 768px) {
	/*.main-side-nav {*/
		/*font-size: 0px;*/
	/*}*/
	.main-side-nav .main-side-nav__link {
		/*width: 50%;*/
		/*display: inline-block;*/
		/*font-size: 14px;*/
		/*padding-left: 60px;*/
		padding-left: 30px;
	}
}



/*----------------------------------------*/
/*  offers section  */
/*----------------------------------------*/
.offers-block-wrapper {
	margin-bottom: 20px;
}
.offers-block {
	position: relative;
	border: 1px solid #e9e5e4;
	border-radius: 4px;
}
.offers-title {
	position: absolute;
	/*height: 25px;*/
	/*line-height: 25px;*/
	font-size: 14px;
	color: #fc4a26;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
	background-color: #fff;
	padding: 2px 5px;
	z-index: 2;
	left: 50%;
	transform: translateX(-50%);
	top: -12px;
	min-width: 235px;
}
.offers-list {
	padding: 10px;
	padding-top: 20px;
}
.offers-item__wrapper {

}
.offers-item {
	text-align: center;
	border: 2px solid transparent;
}
.offer-item__image {
	padding: 10px;
}
.offers-item__title a{
	display: block;
	padding: 5px;

	text-decoration: underline;
	letter-spacing: 0.5px;
	color: #000;
	font-weight: 500;
}
.offers-item:hover {
	border: 2px solid #eedada;
}
.offers-item:hover .offers-item__title a {
	background-color: #eedada;
}
.offer-item__descr {
	text-align: left;
	margin: 15px;
	font-size: 12px;
}
.offer-item__btn {
	margin-top: 10px;
	padding-bottom: 10px;
}
.offer-item__btn .btn {
	display: inline-block;
	color: #fc4a26;
	border: 1px solid #fc4a26;
	border-radius: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	width: 80%;
}
.offer-item__btn:hover .btn {
	color: #fff;
	background-color: #fc4a26;
}


.offer-item__prices {
	padding-left: 30px;
	text-align: left;
}
.offer-item__price_old {
	text-decoration: line-through;
	color: #555;
}
.offer-item__price_new {
	color: #fc4a26;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.5px;
	text-transform: lowercase;
}


/*  sale hits  */
.sale-hits__wrapper {
	border-top: 1px solid #d5d5d5;
}
.sale-hits__item {
	position: relative;
	text-align: center;
	margin: 15px auto;
}
.sale-hits__price {
	position: absolute;
	left: 50%;
	top: -30px;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	background-color: #11865e;
}
.sale-hits__price span {
	display: block;
}
.sale-hits__price .num {
	margin-top: 8px;
	font-size: 20px;
	font-weight: 500;
	color: #fff;
	letter-spacing: 1px;
}
.sale-hits__price .text {
	margin-top: -4px;
	font-size: 11px;
	text-transform: uppercase;
	color: #fff;
}
.sale-hits__title {
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 600;
	color: #da251d;
	text-align: center;
	margin: 15px auto;
	letter-spacing: 1px;
}
.sale-hits__item-name {
	text-decoration: underline;
	color: #222;
}



/*  FOOTER  */
footer.footer {
	padding-top: 40px;
	background-color: #245557;
}
.footer-links ul {
	list-style-type: none;
}
.footer-links a {
	color: #fff;
	text-decoration: underline;
}

.footer-payment {
	text-align: center;
	color: #fff;
}


/************************************************************************************************************************************/



                                                                                               
/*                                                                                               
`7MMF'MMP""MM""YMM `7MM"""YMM  `7MMM.     ,MMF'    `7MM"""Mq.   db       .g8"""bgd `7MM"""YMM  
  MM  P'   MM   `7   MM    `7    MMMb    dPMM        MM   `MM. ;MM:    .dP'     `M   MM    `7  
  MM       MM        MM   d      M YM   ,M MM        MM   ,M9 ,V^MM.   dM'       `   MM   d    
  MM       MM        MMmmMM      M  Mb  M' MM        MMmmdM9 ,M  `MM   MM            MMmmMM    
  MM       MM        MM   Y  ,   M  YM.P'  MM        MM      AbmmmqMA  MM.    `7MMF' MM   Y  , 
  MM       MM        MM     ,M   M  `YM'   MM        MM     A'     VML `Mb.     MM   MM     ,M 
.JMML.   .JMML.    .JMMmmmmMMM .JML. `'  .JMML.    .JMML. .AMA.   .AMMA. `"bmmmdPY .JMMmmmmMMM 
*/

.item-wrapper>div {
	min-height: 380px;
}
@media (max-width: 768px) {
	.item-wrapper>div {
		min-height: auto;
	}
}
.item-img-section {
	text-align: center;
	/*outline: 1px solid;*/
}
.item-img__image {
	border: 1px solid #d9d9d9;
	border-bottom: none;
}
.item-img-section img {
	max-width: 100%;
	/*border-image-width:0;*/
}
.item-img__btns>div {
	height: 40px;
	padding: 0;
}
.item-img__btn__to-cart {
	display: block;
	padding: 10px;
	color: #fff;
	background-color: #3e6769;
	border-bottom-right-radius: 5px;
	letter-spacing: 1px;
	font-weight: 500;
}
.item-img__btn__to-cart:hover,.item-img__btn__to-cart:focus {
	color: #fff;
	text-decoration: none;
	background-color: #44A1A6;
}

/*  buttons for item quantity  */
.item-img__quantity-btns {
	height: 100%;
	padding: 5px;
	border: 2px solid #3e6769;
	border-bottom-left-radius: 5px;
}
.item-img__quantity-btns input {
	width: 30px;
	height: 100%;
	padding: 5px;
}
.item-img__quantity-btns input[type=number]::-webkit-outer-spin-button,
.item-img__quantity-btns input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.item-img__quantity-btns input[type=number] {
    -moz-appearance: textfield;
}
@media (min-width: 500px) {
	.item-img__quantity-btns input {
		margin-right: 10px;
		width: 50px;
	}
}
.item-img__quantity-btns button {
	border: none;
}





.item-description-section {
	position: relative;
	/*outline: 1px solid;*/
	background-image: url("../images/item/item-descr-txt.png");
	
}
.item-descr__wrapper {
	height: 100%;
	width: 100%;
	padding: 10px;
	margin: 15px auto;
	background-color: rgba(255,255,255,.5);
	z-index: 0;
}
.item-descr__price {
	/*padding: 5px;*/
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;

	font-size: 3rem;
	font-weight: 500;
}
.item-descr__quick-descr {
	min-height: 150px;
	padding: 10px 5px;
}
.item-descr__article {
	letter-spacing: 1px;
	font-size: 18px;
}
/*   STAR RATINGS  */
.item-descr__stars {
	padding: 5px;
	height: 20px;
	/*outline: 1px solid;*/

}
/*---------------------------------------------------------------------------------------*/

.item-detailed-descr {
	padding: 10px;
	margin-top: 20px;
	background-image: url("../images/item/item-descr-txt.png");	
}
.item-detailed-descr .table {
	background-color: rgba(255, 255, 255, 0.7);
	font-size: 12px;
	font-weight: 500;
}
.item-detailed-descr thead strong {
	font-size: 16px;
}